.site {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-style: bold; color: #FFFFFF; text-decoration: bold; text-align: justify; background-color: #000000; border: 1px #FFFFFF solid; cursor: hand}
.Zagol {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF}

a:link { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#00ff33; text-decoration: none}
a:visited { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #00ff33; text-decoration: none}

body,td,tr,table {font-style: bold; color:#ffffff;}

.links a{font-family: Arial,Helvetical,Verdata ; font-size:14px; color:#00ff33; text-decoration:none;}
.links {font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF}



.leftnav a{ font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; color:#00ff33; text-decoration: none; text-align: justify}



